# Firebase Client Config (Frontend)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD3MlHI4o6ykz5INBrC7n7-DSs52nz5Eus
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sclv2-9c3c3.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sclv2-9c3c3
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sclv2-9c3c3.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=671157613719
NEXT_PUBLIC_FIREBASE_APP_ID=1:671157613719:web:d9baeb39488c1b22f625d2

# Firebase Admin Service Account (Backend)
FIREBASE_PROJECT_ID=sclv2-9c3c3
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Cloudflare API & R2 Storage
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_R2_BUCKET_NAME=smartcitylab-assets
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://pub-r2.smartcitylab.kiet.edu